<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GenerateFrameImages.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <GenerateFrameImages.Properties.Settings>
            <setting name="ImageSourcePath" serializeAs="String">
                <value>D:\Libraries\Photos</value>
            </setting>
            <setting name="ImageDestinationPath" serializeAs="String">
                <value>\\HOME\picturebox\</value>
            </setting>
            <setting name="SleepPeriod" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="ImagesToGenerate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ImageWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ImageHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>u</value>
            </setting>
            <setting name="DateFont" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="DateSize" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="DateLeftPadding" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DateTopPadding" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="DateColor" serializeAs="String">
                <value>White</value>
            </setting>
        </GenerateFrameImages.Properties.Settings>
    </userSettings>
</configuration>
